@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&family=Rubik+Iso&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body {
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4AC29A, #BDFFF3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a5cfcd, #e1ecec); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
    margin-block: 20px 40px;
}

.navbar,
.nav-list {
    display: flex;
    align-items: center;
}

.navbar {
    margin-inline: 40px;
    justify-content: space-between;
}

.logo-text {
    font-family: 'Rubik Iso', cursive;
    font-weight: 600;
    font-size: 20px;
    margin-left: 4px;
}

.nav-list {
    gap: 22px;
    font-size: 15px;
}

.nav-list>li,
.contact {
    cursor: pointer;
    position: relative;
    padding-bottom: 4px;
}

.nav-list>li::before,
.contact::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #70aec5;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 350ms ease-in-out;
}

.nav-list>li:hover::before,
.contact:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* .gt {
    margin-left: 4px;
    transform: rotate(200deg);
} */

.right-nav-list {
    margin-inline: 35px;
}

.book-now-btn {
    padding: 8px 12px;
    background-color: #000;
    color: #fff;
    border: 0;
    font-weight: 700;
    cursor: pointer;
}

.book-now-btn:hover {
    opacity: .8;
}